.AppNavbar {
    /* background: linear-gradient(to right, #6610e1, #b900fa); */
}
.AppContent {
    background-color: rgb(250, 250, 250);
}
.AppSidebar {
    background-color: rgb(240, 240, 240);
}
.AppNavigation {
    /* height: 3rem; */
    /* background-color: rgb(245, 245, 245); */
}
.AppMainContent {
    min-height: 80vh;
}
.AppFooter {
    /* background: radial-gradient(#6610E1,#B900FA); */
}

/* .AppBodyBg {
    background-image: url('../../img/bgimage.png');
    background-size: cover;
    background-position: center;
} */

.AppShadow {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
}
.AppSidebarMessage {
    font-size: 0.8rem;
}
.bg-AppDanger {
    background-color: #eb3b5a;
}
.bg-AppSuccess {
    background-color: #00cec9;
}

#customEditor .ck-editor__editable {
    min-height: 15rem; /* Atur ketinggian sesuai kebutuhan Anda */
}

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100; /* Initial opacity */
    transition: all 1s ease; /* Transition for the opacity */
}

#logo {
    background-image: url("../img/LabJakAppsLogo.png");
    background-size: contain;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

#loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #6c5ce7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* @media (max-width: 576px) {
    .AppLoginForm {
        width: 90%;
    }
}
@media (min-width: 576px) {
    .AppLoginForm {
        width: 90%;
    }
}
@media (min-width: 768px) {
    .AppLoginForm {
        width: 60%;
    }
}
@media (min-width: 992px) {
    .AppLoginForm {
        width: 70%;
    }
}
@media (min-width: 1200px) {
    .AppLoginForm {
        width: 60%;
    }
}
@media (min-width: 1400px) {
    .AppLoginForm {
        width: 30%;
    }
} */

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    --c:no-repeat radial-gradient(farthest-side,#514b82 92%,#0000);
    background:
      var(--c) 50%  0,
      var(--c) 50%  100%,
      var(--c) 100% 50%,
      var(--c) 0    50%;
    background-size: 10px 10px;
    animation: l18 1s infinite;
    position: relative;
  }
  .loader::before {
    content:"";
    position: absolute;
    inset:0;
    margin: 3px;
    background: repeating-conic-gradient(#0000 0 35deg,#514b82 0 90deg);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
    border-radius: 50%;
  }
  @keyframes l18 {
    100%{transform: rotate(.5turn)}
  }

#altResultContainer{
    background-color: rgba(0,0,0,0.8);
    padding-top: 13rem !important;
}

#theResult{
    height: 80vh;
    border-radius: 25px 25px 0 0;
}

.content-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100; /* Initial opacity */
    transition: all 1s ease; /* Transition for the opacity */
}
